article h4 {
  align-self: flex-start; /* 왼쪽 정렬 */
}

article ul {
  align-self: flex-start; /* 왼쪽 정렬 */
}

.question-form {
  font-size: 13px;
  margin-bottom: 5em;
  margin-left: 3em; /* 왼쪽 여백 설정 */
  margin-right: 3em; /* 오른쪽 여백 설정 */
  width: calc(100% - 6em); /* 왼쪽과 오른쪽 여백을 고려한 너비 설정 */
}

.additional-buttons {
  margin-top: 3em; /* 상단 여백 설정 */
  margin-bottom: 3em;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  position: relative;
}

.best-faq {
  position: absolute;
  top: -40px; /* inquiryOptions와의 간격 조정 */
  right: 25em;
  font-size: 20px;
  font-weight: bold;
}

#inquiryOptions {
  margin-left: 9em; /* select 요소와 추가 버튼 사이의 간격 조정 */
}

.additional-buttons button {
  margin: 0 10px; /* 버튼 간격 설정 */
  padding: 5px 10px; /* 버튼 내부 여백 설정 */
  border: solid 1px #232a3f; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 설정 */
  background-color: transparent; /* 배경색 설정 */
  color: #232a3f; /* 글자색 설정 */
  cursor: pointer; /* 커서 모양 설정 */
}

.quest {
  margin-left: 1.5em;
  width: 300px;
}

.message-container label {
  margin-right: 10px; /* 라벨 오른쪽 여백 */
}

.submit-button {
  padding: 10px 20px; /* 버튼 내부 여백 */
  font-size: 16px; /* 버튼 폰트 크기 */
  margin-top: 20px; /* 버튼 위쪽 여백 */
  margin-left: 40em;
  text-decoration: none;
  padding: 10px 40px; /* 버튼 크기 조절 */
  background-color: transparent;
  color: #232a3f; /* 버튼의 텍스트 색상 */
  border: 2px solid #e6a15c; /* 버튼의 테두리 스타일 및 색상 */
  border-radius: 10px; /* 버튼의 둥근 모서리 설정 */
  font-weight: bold;
}

.submit-button:hover {
  background-color: #e6a15c; /* hover 상태일 때 배경색 */
  color: #232a3f; /* hover 상태일 때 글자색 */
}
